body {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(187, 188, 201);
    margin: 5px;
    padding: 0;
}


canvas {
    border-width: 1px;
    display: block;
    margin: 5px;
}

div.page-block {
    background-color: rgba(56, 57, 79, 1);
    margin: 5px;
    padding: 10px;
}

#chosen-color {
    border-radius: 10px;
}

#primary {
    border-radius: 5px;
}

#hue-sat:hover {
    cursor: crosshair;
}

#drawing-layer-0 {
    margin: 0;
}

#drawing-layer-1 {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}

/*#drawing-layer-2 {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}*/

.nav-tools {
    display: flex;
    justify-content: stretch;
    background-color:rgb(92, 95, 160);
    text-align: center;
    margin: -10px -10px 10px;
}

.toolbox {
    display: flex;
    position: sticky;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    height: auto;
}

.tools-color-1 {
    display: flex;
    justify-content: space-between;
}

.tools-color-2 {
    display: flex;
    justify-content: space-between;
}

.drawing-window {
    display: flex;
    align-items: center;
    width: 100%;
}

.drawing-container {
    position: relative;
    vertical-align: middle;
    margin: auto;
    padding: 0;
    cursor: crosshair;
}

.rgb-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    color: rgb(113, 114, 122);
}

.rgb-number {
    height: 25px;
    margin: 5px;
    margin-right: 0;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(187, 188, 201);
    text-align: center;
}

.number {
    display: flex;
    justify-content: right;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#color-palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: none;
    box-shadow: 5px 3px 3px inset rgba(0, 0, 0, .25);
    background-color: rgb(97, 98, 112);
    height: auto;
    margin: 5px;
}

.palette-button {
    float: left;
    background-color: gray;
    border-style: hidden;
    border-color: rgb(201, 201, 201);
    border-width: 3px;
    font-size: large;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}

.palette-button:hover {
    background-color: rgb(151, 151, 151);
    cursor: pointer;
}

.palette-button:active {
    background-color: rgb(104, 104, 104);
}

.tools-tab {
    float: left;
    background-color:rgb(92, 95, 160);
    padding: 10px;
    border-style: none;
}

.tools-tab:hover {
    background-color: rgb(73, 76, 129);
}