body {
    display: flex;
    justify-content: stretch;
    background-color: rgb(187, 188, 201);
    margin: 5px;
    padding: 0;
}


canvas {
    border-style: none;
    border-width: 1px;
    display: inline-block;
    margin: 5px;
}

div.page-block {
    background-color: rgba(56, 57, 79, 1);
    margin: 5px;
    padding: 10px;
}

#chosen-color {
    border-style: none;
    border-radius: 10px;
}

#primary {
    border-style: none;
    border-radius: 5px;
}

#drawing {
    border-style: none;
}

.nav-tools {
    background-color:rgb(92, 95, 160);
    position: relative;;
    top: -14px;
    left: -10px;
    width: calc(100% + 20px);
    height: 60px;
    text-align: center;
}

.tools-color {
    display: flex;
    position: sticky;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
}

.tools-color-1 {
    display: flex;
    justify-content: space-between;
}

/*.tools-color-2 {

}*/

.drawing-window {
    display: inline-block;
    width: 100%;
}