body {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(187, 188, 201);
    margin: 5px;
    padding: 0;
}


canvas {
    border-width: 1px;
    display: inline-block;
    margin: 5px;
}

div.page-block {
    background-color: rgba(56, 57, 79, 1);
    margin: 5px;
    padding: 10px;
}

#chosen-color {
    border-radius: 10px;
}

#primary {
    border-radius: 5px;
}

#drawing-layer-0 {
    margin: 0;
}

#drawing-layer-1 {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}

.nav-tools {
    background-color:rgb(92, 95, 160);
    text-align: center;
    margin: -10px -10px 10px;
}

.toolbox {
    display: flex;
    position: sticky;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
}

.tools-color-1 {
    display: flex;
    justify-content: space-between;
}

.tools-color-2 {
    display: flex;
    justify-content: space-between;
}

.drawing-window {
    display: flex;
    width: 100%;
  
}

.drawing-container {
    position: relative;
    margin: auto;
    padding: 0;
}